@import "../vars";
@import "../mixins/base";

.paragraph {
  &__title {
    margin-bottom: 30px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;

    svg {
      fill: $black;
      width: 100%;
      height: 100%;
    }
    @media screen and (min-width: 768px) {
      height: 120px;
    }
    @media screen and (min-width: 1024px) {
      height: 140px;
      margin-bottom: 30px;
    }
    @media screen and (min-width: 1366px) {
      height: 200px;
      margin-bottom: 30px;
    }
  }

  &__navigation {
    @media screen and (min-width: 768px) {
      padding: 0;
      margin-top: 15px;
    }
    @media screen and (min-width: 1024px) {
      margin-top: 30px;
    }
    @media screen and (min-width: 1366px) {
      margin-top: 25px;
    }
  }
}

.paragraph-swiper {
  &__slide {
    position: relative;
    padding-top: 110%;
    img {
      @include absolute-100;
    }
    &::before {
      content: '';
      @include absolute-100;
      z-index: 1;
      background-color: rgba(0, 0, 0, 0.60);
      transition: opacity .4s ease;
    }
    &_active {
      opacity: 1;
      &:before {
        opacity: 0;
      }
    }
    @media screen and (min-width: 768px) {
      opacity: 1;
      padding-top: 0;
      width: 450px;
      height: 547px;
    }
    @media screen and (min-width: 1024px) {
      width: 316px;
      height: 481px;
    }
    @media screen and (min-width: 1366px) {
      width: 394px;
      height: 594px;
    }
    &_active::before {
      opacity: 0;
    }
  }
}