<div class="review">
    <div class="review__info">
        <div class="review__rating">
            {% for item in 1..5 %}
                <span class="review__star{% if loop.index <= review.rating %} review__star_active{% endif %}">

                </span>
            {% endfor %}
        </div>
        <span class="review__author">{{ review.title }}</span>
    </div>
    <div class="review__content">
        <span class="review__title">{{ review.subTitle }}</span>
        <p class="review__description">
            {{ review.description }}
        </p>
    </div>
</div>