{# @var socialNetwork \App\Entity\SocialNetwork #}
{# @var contact \App\Entity\Contact #}
{# @var property \App\Entity\ProductPropertyValue #}
{# @var modification \App\Entity\Product #}
{# @var product \App\Entity\Product #}

{% extends 'layouts/default.html.twig' %}

{% block title %}Paragraph | Продажа канцелярских товаров для хранения документов{% endblock %}

{% block meta %}
    <meta property="og:title"
          content="Paragraph | Магазин канцтоваров для дома и офиса">
    <meta property="og:description"
          content="Официальный сайт канцелярских товаров премиального уровня для хранения документов. Продуманный дизайн, высококачественные материалы, удовольствие при использовании.">
{% endblock %}

{% block content %}

    {% if main_blocks | length %}
        {% include 'components/sections/hero.html.twig' with {blocks: main_blocks} %}
    {% endif %}

    {% include 'components/sections/wholesale.html.twig' %}

    {% include 'components/sections/about.html.twig' %}

    {% include 'components/sections/paragraph.html.twig' %}

    {% include 'components/sections/semicircles.html.twig' %}

    {#    {% if categories | length %} #}
    {#        {% include 'components/sections/categories.html.twig' with {categories} %} #}
    {#    {% endif %} #}

    {#    {% if products | length %} #}
    {#        {% include 'components/sections/catalog.html.twig' with {products} %} #}
    {#    {% endif %} #}

    {% if interior_blocks | length %}
        {% include 'components/sections/interior.html.twig' with {blocks: interior_blocks} %}
    {% endif %}

    {% include 'components/sections/manufacture.html.twig' %}

    {% if reviews | length %}
        {% include 'components/sections/reviews.html.twig' with { reviews, reviewAllCount } %}
    {% endif %}

    {% include 'components/sections/contacts.html.twig' %}

    <div class="back hidden">
        <button class="back__btn circled-button circled-button" data-back>
            <svg>
                <use xlink:href="{{ asset('build/images/svg/sprite.svg') }}#arrow-icon"></use>
            </svg>
        </button>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="https://api-maps.yandex.ru/2.1/?apikey=66e7f852-a2c4-46fc-b4f3-254ece42aa13&lang=ru_RU"
            type="text/javascript" defer>
    </script>
{% endblock %}