{# @var socialNetwork \App\Entity\SocialNetwork #}
{# @var contact \App\Entity\Contact #}
{# @var property \App\Entity\ProductPropertyValue #}
{# @var modification \App\Entity\Product #}
{# @var product \App\Entity\Product #}

{% extends 'layouts/default.html.twig' %}

{% block meta %}
    <meta property="og:title"
          content="PARAGRAPH – это стильные и функциональные канцелярские товары для хранения документов">
    <meta property="og:description"
          content="Наша продукция - это стильный и функциональный порядок в вашем доме и офисе. Мы осознанно отказались от производства вертикальных накопителей, поставляемых в сложенном состоянии, понимая, что они не могут гарантировать отсутствие перекосов и деформаций после их приведения в собранное состояние.">
{% endblock %}

{% block content %}

    <h1 class="invisible">PARAGRAPH – это стильные и функциональные канцелярские товары для хранения документов</h1>

    {% if main_blocks | length %}
        {% include 'components/sections/hero.html.twig' with {blocks: main_blocks} %}
    {% endif %}

    {% include 'components/sections/about.html.twig' %}

    {% include 'components/sections/paragraph.html.twig' %}

    {% include 'components/sections/semicircles.html.twig' %}

    {% if interior_blocks | length %}
        {% include 'components/sections/interior.html.twig' with {blocks: interior_blocks} %}
    {% endif %}

    {% if products | length %}
        {% include 'components/sections/catalog.html.twig' with {products} %}
    {% endif %}

    {% include 'components/sections/manufacture.html.twig' %}

    {% include 'components/sections/contacts.html.twig' %}

{% endblock %}

{% block javascripts %}
    <script src="https://api-maps.yandex.ru/2.1/?apikey=66e7f852-a2c4-46fc-b4f3-254ece42aa13&lang=ru_RU"
            type="text/javascript" defer>
    </script>
{% endblock %}