@import "../vars";
@import "../mixins/base";

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.product-card {
  @media screen and (min-width: 1024px) {
    position: relative;
    display: flex;
  }

  &__images {
    margin-bottom: 20px;
    @media screen and (min-width: 768px) {
      display: flex;
      height: 726px;
    }
    @media screen and (min-width: 1024px) {
      position: sticky;
      top: 15px;
      display: block;
      height: max-content;
      width: calc(50% - 10px);
      margin-bottom: 0;
      margin-right: 20px;
    }
  }

  &__swiper {
    width: 100%;
    margin-bottom: 15px;
    @media screen and (min-width: 768px) {
      flex: 1;
      margin-bottom: 0;
      margin-right: 15px;
    }
    @media screen and (min-width: 1024px) {
      margin-bottom: 15px;
      margin-right: 0;
    }
  }

  &__thumbs {
    @media screen and (min-width: 768px) {
      height: 100%;
    }
    @media screen and (min-width: 1024px) {
      height: auto;
    }
  }

  &__body {
    @media screen and (min-width: 1024px) {
      width: calc(50% - 10px);
    }
    @media screen and (min-width: 1366px) {
      padding-left: 40px;
    }
  }

  &__heading {
    margin-bottom: 10px;
  }

  &__title {
    margin-bottom: 16px;
    color: $black;
    font-family: $ff-secondary;
    font-size: 65px;
    font-weight: 700;
    line-height: 110%;
    text-transform: uppercase;
  }

  &__description {
    margin-bottom: 20px;
  }

  &__colors {
    margin-bottom: 20px;
  }

  &__dropdowns {
    margin-bottom: 30px;
  }

  &__dropdown {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &__offer {
    margin-bottom: 30px;
  }

  &__marketplaces {
  }
}

.product-card-swiper {
  &__slide {
    position: relative;
    padding-top: 100%;

    img {
      @include absolute-100;
    }

    @media screen and (min-width: 768px) {
      padding-top: 0;
      height: 100%;
    }
    @media screen and (min-width: 1024px) {
      height: 540px;
    }
    @media screen and (min-width: 1366px) {
      height: 630px;
    }
  }
}

.product-card-thumbs {
  &__slide {
    position: relative;
    padding-top: 25%;
    cursor: pointer;
    transition: transform .4s ease;

    img {
      @include absolute-100;
    }

    &:before {
      content: '';
      @include absolute-100;
      z-index: 1;
      border: 4px solid $cream;
      opacity: 0;
      pointer-events: none;
      transition: opacity .4s ease;
    }

    &_active {
      &:before {
        opacity: 1;
      }
    }

    &:not(&_active):active {
      transform: scale(0.95);
    }

    @media screen and (min-width: 768px) {
      padding-top: 0;
      width: 174px;
      height: 174px;
    }
    @media screen and (min-width: 1024px) {
      width: 109px;
      height: 109px;
      &:not(&_active):hover {
        transform: scale(0.95);
      }
    }
    @media screen and (min-width: 1366px) {
      width: 140px;
      height: 140px;
    }
  }
}

.product-colors {
  &__header {
    display: flex;
    margin-bottom: 16px;
  }

  &__title {
    margin-right: 5px;
    opacity: 0.6;
  }

  &__list {
    display: flex;
  }

  &__item {
    width: 34px;
    height: 34px;
    padding: 4px;
    border-radius: 50%;
    border: 2px solid $cream;
    cursor: pointer;
    user-select: none;
    transition: border-color .3s ease;

    &:not(:last-child) {
      margin-right: 8px;
    }

    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: var(--color);
    }

    &.active {
      border-color: var(--color);
    }

    &:not(&.active):active {
      border-color: $brown;
    }

    @media screen and (min-width: 1024px) {
      &:not(&.active):hover {
        border-color: $brown;
      }
    }

  }
}

.product-card-dropdown {
  border-bottom: 1px solid rgba(64, 64, 64, 0.20);
  padding-bottom: 10px;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    color: $black;
  }

  &__btn {
    width: 30px;
    height: 30px;
    position: relative;
    transition: transform .4s ease;
    border-radius: 50%;
    flex-shrink: 0;

    &::before, &::after {
      content: '';
      width: 75%;
      height: 1px;
      background-color: $black;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: width .4s .4s ease, background-color .4s ease;
    }

    &::after {
      transform: translate(-50%, -50%) rotate(90deg);
    }
  }

  &__content {
    li:not(:last-child) {
      display: block;
      margin-bottom: 10px;
    }
  }

  @media screen and (min-width: 1024px) {
    &__header:hover &__title {
      color: $grey;
    }
    &__header:hover &__btn {
      &::before, &::after {
        background-color: $grey;
      }
    }
  }

  &__header:active &__title {
    color: $grey;
  }

  &__header:active &__btn {
    &::before, &::after {
      background-color: $grey;
    }
  }

  &.active &__btn {
    transform: rotate(90deg);

    &::before {
      width: 0;
    }
  }
}

.product-card-offer {
  &__title {
    display: block;
    margin-bottom: 10px;
  }

  &__btn {
    width: 100%;
  }
}

.product-card-marketplaces {
  &__title {
    display: inline-block;
    margin-bottom: 10px;
  }

  &__list {
    display: grid;
    gap: 10px;
    @media screen and (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__link {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    transition: border-color .4s ease;
  }

  &__logo {
    width: 100%;
    height: 24px;
    fill: $grey;
    opacity: 0.65;
    transition: opacity .4s ease;
    &_ozon {
      height: 14px;
    }
  }

  @media screen and (min-width: 1024px) {
    &__link:hover {
      border-color: $black;
    }
    &__link:hover &__logo {
      opacity: 1;
    }
  }
}