{% extends 'components/popups/default-popup.html.twig' %}

{% block classname %}feedback-popup{% endblock %}
{% block name %}feedback{% endblock %}

{% block content %}
    <div class="feedback-popup__body">
        <div class="default-popup__title feedback-popup__title">
            Оставить заявку
        </div>
        <p class="feedback-popup__text">
            Если у вас остались вопросы, оставьте заявку
        </p>
        <div class="feedback-popup__form" data-form="popup" data-popup-name="feedback" data-response-popup-name="response"></div>
    </div>
{% endblock %}