{% extends 'components/popups/default-popup.html.twig' %}

{% block classname %}response-popup{% endblock %}
{% block name %}response{% endblock %}

{% block content %}
    <div class="response-popup__body">
        <div class="title-24-45 response-popup__title">
            Спасибо! <span>Заявка отправлена</span>
        </div>
        <p class="response-popup__text">
            Мы готовы предоставить вам высококачественные услуги, которые превратят ваши пространства в источник вдохновения и эффективности. Доверьтесь нам, и мы сделаем ваше окружение лучше.
        </p>
    </div>
{% endblock %}