{% extends 'components/popups/default-popup.html.twig' %}

{% block classname %}response-popup{% endblock %}
{% block name %}response{% endblock %}

{% block content %}
    <div class="response-popup__body">
        <p class="default-popup__title response-popup__title">
            Ваша заявка<br>
            отправлена!
        </p>
    </div>
{% endblock %}