{# @var feedback \App\Entity\Feedback #}

<p>Письмо</p>

<ul>
    <li style="color: darkred">Имя: {{ feedback.name }}</li>
    <li>Телефон: {{ feedback.phone }}</li>
    <li>Комментарий: {{ feedback.comment }}</li>
</ul>