{# @var feedback \App\Entity\Feedback #}

<p><a href="https://paragraph-store.ru">Письмо с сайта</a></p>

<ul>
    <li>Имя: {{ feedback.name }}</li>
    <li>Телефон: {{ feedback.phone }}</li>
    <li>Комментарий: {{ feedback.comment }}</li>
</ul>