.dropdown {
  &__header {
    cursor: pointer;
  }

  &__inner {
    max-height: 0;
    opacity: 0;
    transform: translateY(-10px);
    overflow: hidden;
    transition: max-height .5s ease-out, opacity .3s ease, transform .3s ease;
  }

  // active
  &.active &__inner {
    opacity: 1;
    transform: translateY(0);
    max-height: var(--height);
  }
}