{% set direction = direction | default('prev') %}
<button class="text-button swiper-button swiper-button_{{ direction }}">
    {% if direction == 'prev' %}
        назад
    {% else %}
        вперед
    {% endif %}
</button>