@import "../vars";

.catalog-page {

  &.section {
    padding-top: 40px;
  }

  &__categories {
    display: grid;
    gap: 20px;

    @media screen and (min-width: 1366px) {
      gap: 40px;
    }
  }

  &__category {

  }

  &__products {
    display: grid;
    gap: 20px;
    @media screen and (min-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media screen and (min-width: 1024px) {
      grid-template-columns: repeat(5, 1fr);
    }
  }
}

.catalog-category {
  &__title {
    padding-bottom: 20px;
    color: $black;
    font-family: $ff-secondary;
    font-size: 24px;
    line-height: 110%;
    text-transform: uppercase;
    @media screen and (min-width: 768px) {
      font-size: 32px;
    }
    @media screen and (min-width: 1366px) {
      padding-bottom: 40px;
      font-size: 40px;
    }
  }
}

.catalog-product {
  &__image {
    height: 410px;
    margin-bottom: 20px;
    @media screen and (min-width: 768px) {
      height: 250px;
    }
  }

  &__body {
    border-top: 1px solid #C8C8C8;
  }

  &__title {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 20px;
    transition: color .3s ease;

    svg {
      margin-top: 4px;
      width: 12px;
      height: 12px;
      stroke: $grey;
      transition: stroke .3s ease;
    }

    @media screen and (min-width: 1024px) {
      padding-bottom: 0;
      margin-bottom: 0;
      &:hover {
        color: $brown;

        svg {
          stroke: $brown;
        }
      }
    }
  }
}