@import "../vars";
@import "../mixins/base";

.swiper-button {
  flex-shrink: 0;
  color: $grey;

  &_disabled {
    pointer-events: none;
    opacity: 0.2;
  }

  &-lock {
    display: none;
  }
}

.default-swiper-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 10px 0;

  &__fraction {
    width: 25px;
    font-size: 16px;
    line-height: 110%;
  }

  &.hidden {
    display: none;
  }
}

.default-swiper-pagination {
  font-size: 20px;
  width: auto;
  .swiper-pagination-current {
    margin-right: -4px;
  }
  .swiper-pagination-total {
    margin-left: -4px;
  }
}