<section class="section section_light catalog" id="catalog" data-nav-section>
    <div class="container">
        <h2 class="section__heading">каталог продукции</h2>
        <ul class="catalog__list">
            {% for product in products %}
                <li class="catalog__item">
                    {% if product.childProducts | length and product.childProducts[0] %}
                        {% include "components/product/product-card.html.twig" with {product, current: product.childProducts[0]} %}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
</section>