{# @var block \App\Entity\PageBlock #}

<section class="section section_light hero">
    <div class="container hero__container">
        <div class="hero__top">
            <div class="hero__header">
                <h1 class="hero__heading">Канцелярские товары</h1>
                <p class="hero__title">paragraph</p>
            </div>
            <div class="hero__content">
                <p class="hero__description">
                    Дизайн и качество премиального уровня <br>
                    Собственное производство <br>
                    Возможность оптовых и мелкооптовых поставках
                </p>
                <a href="/#catalog" class="text-button hero__link">подробнее</a>
            </div>
        </div>
        <div class="swiper hero__swiper hero-swiper">
            <div class="swiper-wrapper hero-swiper__wrapper">
                {% for block in blocks %}
                    <div class="swiper-slide hero-swiper__slide hero-slide">
                        <div class="hero-slide__image">
                            <img class="fade" src="{{ vich_uploader_asset(block.image) }}"
                                 alt="картинка для продукта - {{ block.product.title }}">
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="default-swiper-navigation hero__navigation">
            {% include 'components/base/swiper-button.html.twig' %}
            <div class="default-swiper-pagination hero__pagination"></div>
            {% include 'components/base/swiper-button.html.twig' with { direction: 'next' } %}
        </div>
        <span class="hero__bg"></span>
    </div>
</section>