<section class="section section_light semicircles">
    <div class="semicircles__wrapper">
        <div class="container">
            <div class="semicircles__content">
                <p class="semicircles__text">
                    Поставки производятся с&nbsp;нашего производственного подразделения в&nbsp;городе Коломна Московской
                    области
                </p>
                <p class="semicircles__text semicircles__text_center">
                    <span>Изделия,</span> <span>задуманные</span> <span>для</span> <span>искушенных</span>
                    <span>эстетов,</span> <span>объединяют</span> <span>долговечность,</span> <span>элегантный</span> <span>дизайн</span>
                    <span>и</span> <span>уникальные</span> <span>ощущения</span> <span>при</span>
                    <span>использовании</span>
                </p>
                <p class="semicircles__text">
                    Наше производство оснащено современным оборудованием, которое гарантирует высокое качество продукции
                </p>
            </div>
            <div class="semicircles__bg">
                <img src="{{ asset('build/images/semicircle.svg') }}" alt="semicircle">
                <img src="{{ asset('build/images/semicircle.svg') }}" alt="semicircle">
            </div>
        </div>
    </div>
</section>