<section class="section section_light semicircles">
    <div class="semicircles__wrapper">
        <div class="container">
            <div class="semicircles__content">
                <p class="semicircles__text">
                    Мы&nbsp;предлагаем оптовые и&nbsp;мелкооптовые поставки всего ассортимента продукции под нашей торговой маркой
                </p>
                <p class="semicircles__text semicircles__text_center">
                    <span>Мы</span> <span>объединили</span> <span>продуманный</span> <span>дизайн,</span>
                    <span>высококачественные</span> <span>материалы</span> <span>и</span> <span>комфортное</span>
                    <span>использование,</span> <span>чтобы</span> <span>удовлетворить</span> <span>все</span>
                    <span>потребности</span> <span>и</span> <span>предпочтения</span>
                    <span>наших</span> <span>клиентов</span>
                </p>
                <p class="semicircles__text">
                    Поможем подобрать вертикальный накопитель для бумаг, который сэкономит время на&nbsp;поиски нужного документа. А&nbsp;так&nbsp;же, предлагаем коробки для хранения&nbsp;А4, с&nbsp;ними можно не&nbsp;боятся даже за&nbsp;самую важную документацию
                </p>
            </div>
            <div class="semicircles__bg-wrapper">
                <div class="semicircles__bg">
                    <img src="{{ asset('build/images/semicircle.svg') }}" alt="semicircle">
                    <img src="{{ asset('build/images/semicircle.svg') }}" alt="semicircle">
                </div>
            </div>
        </div>
    </div>
</section>