/* стили для попапа */
@import "../../vars";

.default-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  z-index: 100;
  display: none;
  opacity: 0;
  backdrop-filter: blur(7px);
  transition: opacity .3s ease;

  &.active {
    opacity: 1;
  }

  &__overlay {
    @include absolute-100;
    background: rgba(41, 41, 41, 0.70);
    opacity: 0;
    pointer-events: none;
  }

  &.active &__overlay, &.active &__body {
    opacity: 1;
    pointer-events: auto;
  }

  &__body {
    width: 100%;
    height: 100dvh;
    padding: 20px;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    background-color: $white;
    opacity: 0;
    pointer-events: none;
    transform: scale(1.2);
    transition: opacity .4s ease, transform .6s ease;
    @media screen and (min-width: 1024px) {
      position: relative;
      height: auto;
      max-width: 558px;
      padding: 40px 50px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(1.2);
    }
  }

  &.active &__body {
    transform: scale(1);
    @media screen and (min-width: 1024px) {
      transform: translate(-50%, -50%) scale(1.0);
    }
  }

  &__title {
    font-family: $ff-title;
    font-size: 34px;
    font-weight: 500;
    line-height: 130%;
    text-transform: uppercase;
    @media screen and (min-width: 768px) {
      font-size: 40px;
    }
    @media screen and (min-width: 1024px) {
      font-size: 30px;
    }
    @media screen and (min-width: 1366px) {
      font-size: 40px;
    }
  }

  &__close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}
