@import "../../vars";
.response-popup {
  .default-popup__body {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__title {
    text-align: center;
    &.hidden {
      display: none;
    }
  }
}