{#{% extends 'layouts/default.html.twig' %}#}

{% block title %}404 | Параграф{% endblock %}

{% block content %}
    <div class="error">
        <div class="container error__container">
            <div class="error__image">

{#                <img src="{{ asset('build/images/404.png') }}" alt="404">#}

            </div>
            <div class="error__bottom">
                <h1 class="title-24-53 error__title">Страница не найдена - 404!</h1>
                <p class="error__text">Похоже, мы не можем найти нужную вам страницу</p>
                <a href="/" class="default-button default-button_solid error__button">На главную</a>
            </div>
        </div>
    </div>
{% endblock %}


{#{% block feedaback %}{% endblock %}#}
{#{% block footer %}{% endblock %}#}