{% extends 'layouts/default.html.twig' %}

{% block title %}404 | Страница не найдена{% endblock %}
{% block description %}{% endblock %}

{% set isError = true %}

{% block content %}
    <div class="error">
        <div class="container error__container">
            <div class="error__wrapper">
                <div class="error__image">
                    <img src="{{ asset('build/images/404.svg') }}" alt="404">
                </div>
                <div class="error__bottom">
                    <h1 class="title-24-53 error__title">Страница<br> <span>не</span> найдена</h1>
                    <a href="/" class="text-button error__button">Вернуться на главную</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block feedaback %}{% endblock %}
{% block footer %}{% endblock %}
{% block modals %}{% endblock %}