//@import "../../vars";
@import "../../mixins/base";

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 95;
  transform: translateY(0);
  opacity: 1;
  transition-property: opacity, transform, background-color;
  background-color: $cream-light;
  @include base-transition;

  &__container {
    padding-top: 10px;
    padding-bottom: 10px;
    @include flex-center(40px);
    @media screen and (min-width: 1024px) {
      border-bottom: 1px solid rgba(12, 12, 12, 0.05);
    }
    @media screen and (min-width: 1366px) {
      gap: 60px;
    }
  }

  &__logo {
    width: 165px;
    height: 55px;
    svg {
      transition: fill .4s ease;
    };
    @media screen and (min-width: 1366px) {
      width: 219px;
      height: 69px;
    }
  }

  &__menu {
    @media screen and (min-width: 768px) {
      @include flex-center(40px);
    }
    @media screen and (min-width: 1366px) {
      gap: 60px;
    }
  }

  &__nav {
    display: none;
    @media screen and (min-width: 1024px) {
      @include flex-center(40px)
    }
    @media screen and (min-width: 1366px) {
      gap: 60px;
    }
  }

  &__phone {
    display: none;
    @media screen and (min-width: 768px) {
      display: inline-block;
      font-size: 12px;
      font-weight: 500;
    }
    @media screen and (min-width: 1366px) {
      font-size: 14px;
    }
  }

  &__button {
    &_feedback {
      display: none;
    }
    &_menu {
      &:before {
        content: 'Меню';
      }
    }
    @media screen and (min-width: 1024px) {
      width: auto;
      &_feedback {
        display: block;
      }
      &_menu {
        display: none;
      }
    }
  }

  &.hidden {
    transform: translateY(-20px);
    opacity: 0;
    pointer-events: none;
  }

  &.blur {
    background-color: rgba(244, 241, 233, 0.75);
  }

  &.active {
    background-color: transparent;
    .header__button_menu {
      &:before {
        content: 'Закрыть';
      }
    }
    .header__logo {
      @media screen and (min-width: 768px) {
       svg {
         fill: $cream-light;
       }
      }
    }
    .header__phone {
      opacity: 0;
      pointer-events: none;
      user-select: none;
    }
  }

  &._error {
    background-color: transparent;
  }

  &._error &__logo {
    svg {
      fill: $white;
    }
  }
}

.nav-header {

  &__list {
    @media screen and (min-width: 1024px) {
      @include flex-center(40px)
    }
    @media screen and (min-width: 1366px) {
      gap: 60px;
    }
  }

  &__item {
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    &:before {
      content: '';
      position: absolute;
      right: -20px;
      top: 50%;
      transform: translateY(-50%);
      border-right: 1px solid rgba(12, 12, 12, 0.05);
      height: 76px;
      @media screen and (min-width: 1366px) {
        right: -30px;
        height: 90px;
      }
    }
    @media screen and (min-width: 1366px) {
      font-size: 14px;
    }
  }
}