@import "../../vars";
@import "../../mixins/base";
.mobile-header {
  width: 100%;
  height: 100dvh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 90;
  opacity: 0;
  background: rgba(41, 41, 41, 0.70);
  backdrop-filter: blur(7px);
  transition: opacity .4s ease;
  pointer-events: none;
  user-select: none;
  @media screen and (min-width: 1024px) {
    display: none;
  }
  &.active {
    opacity: 1;
    pointer-events: auto;
    user-select: auto;
  }
  &__inner {
    height: 100%;
    padding: 100px 20px 34px;
    display: flex;
    flex-direction: column;
    background-color: $white;
    @media screen and (min-width: 768px) {
      width: 50%;
      margin-left: auto;
      padding-top: 180px;
    }
  }
  &__nav {
    display: grid;
    gap: 10px;
    margin-bottom: 40px;
    padding: 0 28px;
  }

  &__item {
    position: relative;
    font-size: 44px;
    font-weight: 300;
    line-height: 140%;
    color: $black;
    transition: color .3s ease;

    &:after {
      content: '';
      width: 8px;
      height: 8px;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      background-color: $brown;
      border-radius: 50%;
      opacity: 0;
      transition: opacity .3s ease;
    }

    &.active {
      &::before {
        content: '/';
      }
      &:after {
        opacity: 1;
      }
    }

    &.active, &:active {
      color: $brown;
    }

    &_phone {
      margin-top: 30px;
      font-size: 28px;
      font-weight: 400;
    }
  }

  &__button {
    margin-top: auto;
  }
}
