@import "../../vars";
@import "../../mixins/base";

.feedback-form {

  &__inputs {
    display: grid;
    gap: 15px;
    margin-bottom: 15px;
  }

  &__policy {
    font-size: 14px;
    opacity: 0.5;
    transition: opacity .3s ease;
  }

  &__submit {
    color: $black;
    margin-top: 30px;
  }


  @media screen and (min-width: 1024px) {
    &__checkbox:hover &__policy {
      opacity: 1;
    }
  }
}
