{{ include('@EasyAdmin/crud/action.html.twig') }}

<!-- Modal -->
<div class="modal fade" id="customModal" tabindex="-1" role="dialog" aria-labelledby="customModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div data-controller="subscription-type">
                <div data-subscription-type-target="results">Пока не настроено</div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Ok, понятно.</button>
            </div>
        </div>
    </div>
</div>